# IGNORE DEV ASSETS AND NODE MODULES
node_modules

/.dev-assets
/.vscode
/composer.json
/phpcs.xml
/phpstan.neon
/package.json
/.editorconfig
/.markdownlint-cli2.jsonc
/.prettierignore
/eslint.config.js
/lefthook.yml
/package-lock.json
/prettier.config.js
/stylelint.config.js
