<!-- wp:template-part {"slug":"header","theme":"wp-custom-block-theme","tagName":"header","className":"site-header noJS"} /-->

<!-- wp:group {"tagName":"main","className":"main-content content-404","layout":{"type":"default"}} -->
<main id="main-content" class="wp-block-group main-content content-404">
	<!-- wp:pattern {"slug":"wp-custom-block-theme/template-404-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-custom-block-theme","tagName":"footer","className":"site-footer"} /-->
