<!-- wp:template-part {"slug":"header","theme":"wp-custom-block-theme","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"main-content page-content state-content","layout":{"type":"default"}} -->
<main
	id="main-content"
	class="wp-block-group main-content page-content state-content"
>
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-custom-block-theme","tagName":"footer","className":"site-footer"} /-->
